# The name of the XML file to import. Place this file in the folder:
# extensions/vendor/bolt/importwxr/files/

# file: files/pages.xml
file: files/entries_and_comments.xml

# Whether authors found in the XML file should be automatically imported. Not yet supported.
import_authors: false

### Comments for "mapping" section below

# Make sure your mappings are actually mapping to fields that exist in your
# contenttypes. If they don't some of the data from the import will be lost.

# If 'author' is set, all records of that contenttype will have that author. If
# left unset, Bolt will import it, as if it belongs to the original author,
# regardless of whether the author exists.

# If 'post_id' is mapped to 'id', it will preserve the ID's in bolt, so this
# will overwrite your content, if these ID's are already taken in Bolt. Comment
# this line out, to add the records, regardless of id. An added benefit of re-
# using the id's (end therefore overwriting the records) is that you'll be able
# to do the import multiple times. Do the import, tweak the settings, import
# again, repeat until done.

mapping:

  #wordpress mappings

  post: # Wordpress / PivotX entries..
    targetcontenttype: entries
    # author: admin
    fields:
      post_title: title
      post_author: username
      post_content: body
      post_excerpt: teaser
      # post_id: id
      post_date: datecreated
      post_name: slug
      status: status
    category: categories
    tags: tags

  attachment: # Wordpress entries..
    targetcontenttype: attachments
    # author: admin
    fields:
      post_title: title
      post_author: username
      attachment_url: url
      _wp_attached_file: image
      post_content: body
      # post_id: id
      post_date: datecreated
      post_name: slug
      status: status
      post_parent: parent
      post_parent_contenttype: "entries"

  page: # Wordpress pages / PivotX pages..
    targetcontenttype: pages
    # author: admin
    fields:
      post_title: title
      post_author: username
      post_content: body
      # post_id: id
      post_date: datecreated
      post_name: slug
      status: status
      image: image


allowed_tags: ['div', 'p', 'br', 's', 'u', 'strong', 'em', 'i', 'b',  'blockquote', 'a', 'img']
allowed_attributes: ['id', 'class', 'name', 'value', 'href', 'src', 'alt', 'title']

fetch_images: false;
max_images: 100;
